In [1]:
cd "C:\Users\zahra\Desktop"

C:\Users\zahra\Desktop

In [2]:
import h5py
import numpy as np
import pandas as pd
f = h5py.File('groups_135.Subhalo.SubhaloPos.hdf5' , 'r') #data includes galaxy position in simulation box for 135th snapshot
head_subhalo = f['Subhalo']
data_subhalo = np.array(head_subhalo['SubhaloPos'])
position = pd.DataFrame(data_subhalo)
position.columns = ['x' , 'y' , 'z']
position.head(10)

              x             y             z
0    900.425293  26286.689453  18321.949219
1    181.120392  24638.792969  16896.896484
2    826.923584  26747.314453  17363.390625
3   1492.193726  26514.935547  19381.691406
4    839.730957  26543.013672  15552.993164
5    267.409637  26475.843750  15855.078125
6    963.795166  26495.972656  17794.994141
7   1171.580200  26447.220703  18336.576172
8  74993.562500  24189.980469  16774.009766
9   1632.506470  25474.320312  18378.683594

In [3]:
def process(position):
    position['x_b'] = np.floor(position['x']/(75000/100))
    position['y_b'] = np.floor(position['y']/(75000/100))
    position['z_b'] = np.floor(position['z']/(75000/100))
    position['x_b'] = position['x_b'].astype(int)
    position['y_b'] = position['y_b'].astype(int)
    position['z_b'] = position['z_b'].astype(int)
    
    
    return position
    
position = process(position)
position['c'] = 1
position.head(10)

              x             y             z  x_b  y_b  z_b  c
0    900.425293  26286.689453  18321.949219    1   35   24  1
1    181.120392  24638.792969  16896.896484    0   32   22  1
2    826.923584  26747.314453  17363.390625    1   35   23  1
3   1492.193726  26514.935547  19381.691406    1   35   25  1
4    839.730957  26543.013672  15552.993164    1   35   20  1
5    267.409637  26475.843750  15855.078125    0   35   21  1
6    963.795166  26495.972656  17794.994141    1   35   23  1
7   1171.580200  26447.220703  18336.576172    1   35   24  1
8  74993.562500  24189.980469  16774.009766   99   32   22  1
9   1632.506470  25474.320312  18378.683594    2   33   24  1

In [4]:
counts = position.groupby(['x_b' , 'y_b' , 'z_b'])['c'].count().reset_index(name = "count")

print(position.shape)
print(counts.shape)
counts.head(180)

(121209, 7)
(73908, 4)

     x_b  y_b  z_b  count
0      0    0   12      1
1      0    0   16      1
2      0    0   45      2
3      0    0   46      1
4      0    0   47      2
5      0    0   61      1
6      0    1   13      1
7      0    1   17      1
8      0    1   58      1
9      0    2   13      1
10     0    2   14      1
11     0    2   37      1
12     0    2   45      1
13     0    2   46      1
14     0    2   57      2
15     0    2   58      1
16     0    2   61      1
17     0    3   19      1
18     0    3   36      1
19     0    3   37      1
20     0    3   39      1
21     0    3   45      1
22     0    3   57      4
23     0    3   58      1
24     0    3   64      1
25     0    3   97      1
26     0    4   33      2
27     0    4   37      3
28     0    4   38      4
29     0    4   57      1
..   ...  ...  ...    ...
150    0   19   75      1
151    0   19   76      1
152    0   19   91      1
153    0   19   94      1
154    0   19   96      1
155    0   20   18      1
156    0   20   30      2
157    0   20   37      1
158    0   20   76      1
159    0   20   77      2
160    0   20   78      1
161    0   20   80      1
162    0   20   90      1
163    0   20   91      2
164    0   21   11      1
165    0   21   12      2
166    0   21   13      1
167    0   21   30      1
168    0   21   34      1
169    0   21   36      1
170    0   21   44      1
171    0   21   69      2
172    0   21   72      2
173    0   21   76      1
174    0   21   93      1
175    0   22    5      1
176    0   22   31      2
177    0   22   43      1
178    0   22   69      1
179    0   23   31      5

[180 rows x 4 columns]

In [5]:
def dataframe_to_array(data , shape):
    ids = np.ravel_multi_index(data[['x_b' , 'y_b' , 'z_b']].values.T , shape)
    val = data['count'].values
    return np.bincount(ids , val , minlength = np.prod(shape)).reshape(shape)
arr_subhalo = dataframe_to_array(counts , (100,100,100))

print(arr_subhalo.shape)

(100, 100, 100)

In [6]:
import h5py    #data includes dark matter position in simulation box. goal of the project is mapping between darkmatter position and galaxy position 
import numpy as np
#we have 8 hdf5 files. we upload it and then merge it
f = h5py.File('new1.h5' , 'r')
head = f['DM']
data = head['Coordinates0']
X_pos_0 = data[:,0]
Y_pos_0 = data[:,1]
Z_pos_0 = data[:,2]

data = head['Coordinates1']
X_pos_1 = data[:,0]
Y_pos_1 = data[:,1]
Z_pos_1 = data[:,2]

data = head['Coordinates2']
X_pos_2 = data[:,0]
Y_pos_2 = data[:,1]
Z_pos_2 = data[:,2]

data = head['Coordinates3']
X_pos_3 = data[:,0]
Y_pos_3 = data[:,1]
Z_pos_3 = data[:,2]

data = head['Coordinates4']
X_pos_4 = data[:,0]
Y_pos_4 = data[:,1]
Z_pos_4 = data[:,2]

data = head['Coordinates5']
X_pos_5 = data[:,0]
Y_pos_5 = data[:,1]
Z_pos_5 = data[:,2]

data = head['Coordinates6']
X_pos_6 = data[:,0]
Y_pos_6 = data[:,1]
Z_pos_6 = data[:,2]

data = head['Coordinates7']
X_pos_7 = data[:,0]
Y_pos_7 = data[:,1]
Z_pos_7 = data[:,2]

In [7]:
#merging hdf5 files
X_pos = np.hstack((X_pos_0,X_pos_1,X_pos_2,X_pos_3,X_pos_4,X_pos_5,X_pos_6,X_pos_7))
Y_pos = np.hstack((Y_pos_0,Y_pos_1,Y_pos_2,Y_pos_3,Y_pos_4,Y_pos_5,Y_pos_6,Y_pos_7))
Z_pos = np.hstack((Z_pos_0,Z_pos_1,Z_pos_2,Z_pos_3,Z_pos_4,Z_pos_5,Z_pos_6,Z_pos_7))

In [8]:
import pandas as pd
dm_data = {'X' : X_pos , 'Y' : Y_pos , 'Z' : Z_pos} 
df_dm = pd.DataFrame(data = dm_data)
df_dm.head()

            X             Y             Z
0  860.278625  26320.939453  18281.757812
1  862.896790  26320.160156  18283.193359
2  859.645874  26324.167969  18280.250000
3  861.843018  26322.359375  18286.849609
4  860.395447  26319.984375  18284.232422

In [9]:
def process(data):
    data['x_b'] = np.floor(data['X']/(75000/100))
    data['y_b'] = np.floor(data['Y']/(75000/100))
    data['z_b'] = np.floor(data['Z']/(75000/100))
    data['x_b'] = data['x_b'].astype(int)
    data['y_b'] = data['y_b'].astype(int)
    data['z_b'] = data['z_b'].astype(int)
    
    
    return data
    
dm_data = process(df_dm)
dm_data['c'] = 1
dm_data.head(10)

            X             Y             Z  x_b  y_b  z_b  c
0  860.278625  26320.939453  18281.757812    1   35   24  1
1  862.896790  26320.160156  18283.193359    1   35   24  1
2  859.645874  26324.167969  18280.250000    1   35   24  1
3  861.843018  26322.359375  18286.849609    1   35   24  1
4  860.395447  26319.984375  18284.232422    1   35   24  1
5  862.295593  26322.332031  18286.097656    1   35   24  1
6  860.981873  26320.837891  18278.978516    1   35   24  1
7  862.746643  26323.728516  18281.339844    1   35   24  1
8  862.724243  26319.615234  18281.880859    1   35   24  1
9  858.579590  26325.712891  18279.990234    1   35   24  1

In [10]:
counts = dm_data.groupby(['x_b' , 'y_b' , 'z_b'])['c'].count().reset_index(name = "count")
print(counts.shape)
print(dm_data.shape)

(999941, 4)
(94196375, 7)

In [11]:
def dataframe_to_array(data , shape):
    ids = np.ravel_multi_index(data[['x_b' , 'y_b' , 'z_b']].values.T , shape)
    val = data['count'].values
    return np.bincount(ids , val , minlength = np.prod(shape)).reshape(shape)
dm_arr = dataframe_to_array(counts , (100,100,100))
print(dm_arr.shape)

(100, 100, 100)

In [12]:
rand_x_arr = np.random.randint(1,98,100)
rand_y_arr = np.random.randint(1,98,100)
rand_z_arr = np.random.randint(1,98,100)
rand_x = rand_x_arr.tolist()
rand_y = rand_y_arr.tolist()
rand_z = rand_z_arr.tolist()

In [14]:
X_train = np.zeros((800000,7))
Y_train = np.zeros((800000,7))
l = 0

for i in rand_x:
    for j in rand_y:
        for k in  rand_z:
            if l < 800000 :
            
                X_train[l,:]= dm_arr[i,j,k] , dm_arr[i+1,j,k] , dm_arr[i-1,j,k] , dm_arr[i,j+1,k] , dm_arr[i,j-1,k] , dm_arr[i,j,k+1] , dm_arr[i,j,k-1]
                Y_train[l,:]= arr_subhalo[i,j,k] , arr_subhalo[i+1,j,k] , arr_subhalo[i-1,j,k] , arr_subhalo[i,j+1,k] , arr_subhalo[i,j-1,k] , arr_subhalo[i,j,k+1] , arr_subhalo[i,j,k-1]
                l += 1

In [15]:
X_test =  np.zeros((200000,7))
Y_test = np.zeros((200000,7))
rand_x_arr_t = np.random.randint(1,98,100)
rand_y_arr_t = np.random.randint(1,98,100)
rand_z_arr_t = np.random.randint(1,98,100)
rand_x_t = rand_x_arr.tolist()
rand_y_t = rand_y_arr.tolist()
rand_z_t = rand_z_arr.tolist()
l=0
for i in rand_x_t:
    for j in rand_y_t:
        for k in  rand_z_t:
            if l < 200000 :
            
                X_test[l,:]= dm_arr[i,j,k] , dm_arr[i+1,j,k] , dm_arr[i-1,j,k] , dm_arr[i,j+1,k] , dm_arr[i,j-1,k] , dm_arr[i,j,k+1] , dm_arr[i,j,k-1]
                Y_test[l,:]= arr_subhalo[i,j,k] , arr_subhalo[i+1,j,k] , arr_subhalo[i-1,j,k] , arr_subhalo[i,j+1,k] , arr_subhalo[i,j-1,k] , arr_subhalo[i,j,k+1] , arr_subhalo[i,j,k-1]
                l += 1

In [16]:
from sklearn.ensemble import RandomForestRegressor
randfor = RandomForestRegressor()
randfor.fit(X_train,Y_train)

C:\Users\zahra\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [17]:
print(randfor.score(X_train,Y_train))
print(randfor.score(X_test,Y_test))

0.995018267021881
0.9957737782209709

In [19]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()
tree.fit(X_train,Y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [20]:
print(tree.score(X_train,Y_train))
print(tree.score(X_test,Y_test))

1.0
1.0

In [25]:
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(X_train,Y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [26]:
print(ridge.score(X_train,Y_train))
print(ridge.score(X_test,Y_test))

0.5556328994661863
0.5968054396854326

In [27]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()
knn.fit(X_train,Y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [28]:
print(knn.score(X_train,Y_train))
print(knn.score(X_test,Y_test))

0.9546050419592381
0.9625734759117626

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
polytransform = PolynomialFeatures(degree=5 )
ridge2 = Ridge()
ridge2.fit(       polytransform.fit_transform( X_train )      , Y_train )

In [24]:
#sparse
print(Y_train[10])
print(Y_train[2])
print(X_train[10])
print(X_train[2])

[0. 4. 0. 0. 0. 2. 0.]
[0. 0. 0. 0. 1. 0. 0.]
[ 57. 446.  75.  13.  26. 401.  14.]
[ 33.  55.  23.   6. 544.  18. 139.]